

<% data.flats.each do |flat| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=flat.link %>')">
    <div class="card-category"><%= flat.category %></div>
    <div class="card-description">
    <h2><%=flat.city %></h2>
    <p><%= flat.description %></p>
    </div>
    <img class="card-user" src= <%=flat.user %> >
    <a class="card-link" href="#" ></a>
  </div>
<% end %>

